*{
  box-sizing: border-box;
 
}

body{
  
  margin: 0px;
  padding: 0px;
  font: popins;
}

.main{
  display: flex;

}
nav{
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: wheat;
  box-shadow: 5px 10px 30px rgba(0, 0,0,0.3);
  z-index: 1;
}

.logo img{
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.menu{
  list-style: none;
  /* align-items: center; */
  
}

.menu a{
  height: 60px;
  line-height: 3px;
  margin: 10px;
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(0, 0,0,0.7);
  border: 2px solid #23cdaf;
  border-radius: 5px;
}
a{
  text-decoration: none;
}

.hey{
  color: #39bfbd;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid #39bfbd;
}

.image{
  width: 500px;
  height: 500px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.main-text{
  width: 500px;
}

.main-text h1{
  font-size: 3.5em;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}
.main-text p{
  color: gray;
}

.resume-btn{
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1db096;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
}

.resume-btn:hover{
  background-color: #23cdaf;
  transition: all ease 0.2s;

}

.menu a:hover{
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  transition: all ease 0.2s;
}
#expant-btn{
  display: none;
}
@media only screen and (max-width: 600px) {
  .menu{
    font-size: medium;
  }
  .search-bar{
    display: none;
  }
  #expant-btn{
    display: block;
  }
ul {
  text-align: center;
  list-style: none;
}  
  
}