*{
  box-sizing: border-box;
 
}

body{
  
  margin: 0px;
  padding: 0px;
  font: popins;
}

.main{
  display: flex;

}
nav{
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: wheat;
  box-shadow: 5px 10px 30px rgba(0, 0,0,0.3);
  z-index: 1;
}

.logo img{
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.menu{
  list-style: none;
  /* align-items: center; */
  
}

.menu a{
  height: 60px;
  line-height: 3px;
  margin: 10px;
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(0, 0,0,0.7);
  border: 2px solid #23cdaf;
  border-radius: 5px;
}

a{
  text-decoration: none;
}

.image{
  width: 500px;
  height: 500px;
}

.menu a:hover{
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  transition: all ease 0.2s;
}


.contact-main{
  border: 2px solid purple;
  padding: 5%;
  height: 100vh;
  border-radius: 10%;
  margin: 10%;

  display: grid;
}
/* #icon{
  padding: 0;
  margin: 0;
} */
.fa {
  padding: 0.6em;
  font-size: 30px;
  /* width: 20px; */
  border-radius: 50%;
  /* text-align: center; */
  text-decoration: none;
  /* margin: 5px; */
}

.fa:hover {
    opacity: 0.7;
}
.fa-whatsapp {
  padding: 0;
  font-size: 30px;
  /* width: 20px; */
  border-radius: 50%;
  /* text-align: center; */
  text-decoration: none;
  background: #00ff00;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-search{
  
  margin: 0;
  padding: 0;
  font-size: medium;
  text-align: end;
  text-decoration: none;
}

#expant-btn{
  
  display: none;
}

.home-main{
  border: 1px solid black;
  height: 100vh;
  display: flex;
}
.home-main p{
  text-indent: 1.5em;
}



@media only screen and (max-width: 800px) {
  .menu a{
    font-size: medium;
    margin: 5px;
    padding: 2px;
  }
  .search-bar{
    display: none;
  }
  #expant-btn{
    
    display: block;
  }
ul {
  text-align: center;
  list-style: none;
}  
  
}